:root {
    --headerBackgroundColor: #1d1b26;
    --main-bg-color: #232128;
    --main-font-color: #a89e86;
    --main-title-font-family: "Verdana", "Helvetica Neue", sans-serif;
}

@font-face {
    font-family: "Volkhov";

    src: url(/fonts/Volkhov-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "True-Lies";

    src: url(/fonts/True-Lies.ttf) format("truetype");
}

@font-face {
    font-family: "Wet-Dream";

    src: url(/fonts/Wet-Dream.ttf) format("truetype");
}


/* Common */

body {
    background-color: var(--main-bg-color);
}

body:not button,
nav,
a {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

     -khtml-user-select: none;
    -webkit-touch-callout: none;
}

i.fa {
    padding-left: 10px;
    margin-right: 15px;
}

.hid {
    display: none;
}

.visuallyhidden {
    opacity: 0;
}

.normal-text {
    font-family: var(--main-title-font-family);

    color: var(--main-font-color);
}

.truelies {
    font-family: "True-Lies", var(--main-title-font-family) !important;
}

.paragraph {
    padding: 10px 40px;

    font-family: var(--main-title-font-family);

    color: var(--main-font-color);
}

.big-linear-space {
    letter-spacing: 50px;
}

.medium-linear-space {
    letter-spacing: 30px;
}

.small-linear-space {
    letter-spacing: 10px;
}

.invert {
    -webkit-filter: invert(100%);
       -moz-filter: invert(100%);
        -ms-filter: invert(100%);
         -o-filter: invert(100%);
            filter: invert(100%);
}

.special.paragraph {
    font-size: 24px;

    text-decoration: bold;
}

.slow-transition {
    transition: all 10s ease-in;
}

.mid-transition {
    transition: all 5s ease-out;
}

.fast-transition {
    transition: all 2s ease-out;
}

.invertException {
    z-index: 11;

    width: 100%;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.white {
    background-color: white;
}

/*End Common*/


/*Navigator*/

.headerLimbus {
    height: 70px;

    font-family: var(--main-title-font-family);

    color: var(--main-font-color);
    background-color: var(--headerBackgroundColor);
}

.navBackground {
    width: 100px;
    height: 60px;
    padding-left: 20px;
}

.nav-wrapper {
    vertical-align: center;
}

nav,
nav .nav-wrapper i,
nav a.button-collapse,
nav a.button-collapse i {
    height: 70px;

    line-height: 70px;
}

nav ul a {
    display: inline-block;
    padding: 0 15px;

    font-size: 1rem;

    cursor: pointer;
    transition: background-color .5s, color 2.5s;

    color: #665f84;
}

nav ul a:hover {
    color: var(--headerBackgroundColor);
    background-color: #6d6d6d;
}


/*Navigator End*/


/*Home Page */

.main-title {
    margin: 10px 0;

    font-family: "True-Lies", var(--main-title-font-family);

    color: var(--headerBackgroundColor);
}

.left-title-main {
    padding-right: 100px;
}

.right-title-main {
    padding-left: 100px;
}

.separatorHome1 {
    /* IE6-9 */
    width: 100%;
    max-width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f0f0f+0,000000+16,000000+96,ffffff+100 */

    background: rgb(15, 15, 15);
    /* Old browsers */
    background:    -moz-linear-gradient(left, rgba(15, 15, 15, 1) 0%, rgba(0, 0, 0, 1) 16%, rgba(0, 0, 0, 1) 96%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(15, 15, 15, 1) 0%, rgba(0, 0, 0, 1) 16%, rgba(0, 0, 0, 1) 96%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background:         linear-gradient(to right, rgba(15, 15, 15, 1) 0%, rgba(0, 0, 0, 1) 16%, rgba(0, 0, 0, 1) 96%, rgba(255, 255, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:dximagetransform.Microsoft.gradient( startColorstr="#0f0f0f", endColorstr="#ffffff", GradientType=1);
}

.sec1 {
    max-width: 1200px;

    border: auto;
}

.parallax-container {
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
}

.fa-exclamation-triangle {
    color: #6d7713;
}

.fa-parallax {
    color: #72302b;
}

.center-title {
    font-size: 20px;
}

.parallax img {
    display: inline;

    text-align: right;
}

.row .col.s12.tlt {
    width: 400px;
}

.parallax-container.parallax3 .light.intertext3 {
    width: 30%;

    text-align: left;

    color: #e0d088;
}

.btn-large.main-btn {
    height: 50px;
    margin-top: 50px;
    margin-right: 100px;

    transition: all 2s linear;

    background-color: var(--main-bg-color) !important;
}


/* Home Page Ending*/


/* Warning Page */

.container.warning {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 0;

    color: var(--main-font-color);
    background-color: var(--main-bg-color);
}

.col-md-12.main-warning:not(.btn-large) {
    position: relative;

    padding: 20px 30px 50px;

    font-family: "Volkhov", sans-serif;
    font-size: 26px;
    font-style: italic;

    text-align: center;
}

.warning i {
    font-size: 53px;
}

.col-md-4.warning {
    position: relative;

    padding: 20px 30px 75px;
}

#startBtnWarning {
    margin-top: 30px;

    font-style: normal;
}

.transitionToStart {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    transition: all 5s ease-out;

    opacity: 0;
}


/* Warning End */


/* Episode 1-1 */

.text-slide1,
.text-slide1-1 {
    position: absolute;
    top: 20%;
    left: 30px;

    display: none;

    font-family: "Wet-Dream", var(--main-title-font-family);
    font-size: 40px;
}

.text-slide1-1 {
    top: 40%;

    font-size: 60px;
}

.divisor {
    background-color: var(--main-bg-color);
}

.light-runner {
    position: relative;

    width: 100%;
    height: 1400px;
}

.transition {
    width: 100%;
    height: 1px;
}

#animation {
    z-index: -1;

    width: 100%;
    height: 100%;

    background-color: white;
}

.transition#transition1 {
    position: relative;
}

#transitionToWhite {
    position: absolute;
    z-index: 3;

    width: 100%;
    height: 1400px;
    max-width: 100%;

    opacity: 0;
    background-color: white;
}

#ultimo {
    height: 500px;
}
