HTML  CSS  JS  Result
Edit on 
<header>
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1>
        <i class="fa fa-heart"></i>
        ScrollMagic Demos
        <i class="fa fa-magic"></i>
      </h1>
      <hr>
      <h2>Animation Trigger</h2>
      <p class="lead">This example shows how to trigger a basic animation when you hit a certain point using the GreenSock Animation Platform.</p>
    </div>
  </div>
  <i class="fa fa-angle-double-down"></i>
</header>



<main><div class="container">


  
  
  <div class="row"><!-- where the animation starts -->
    
    <div class="col-md-6 col-md-offset-3">
      <div class="wrap" id="scene">  
        <h2>Magic Happens Here</h2>
        <div id="animation"><i class="fa fa-heart"></i></div>
      </div>
    </div>
    
  </div>
    
    
    
    

</div></main>

<script src="js/test.js"></script>



