
<div id="index-banner" class="parallax-container view1">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
            </div>
        </div>
    </div>
    <div class="parallax"><img src="../img/Ep1View1Slide1.png" alt="Nightmare1" class="img1"></div>
    <h5 class="col s12 normal-text truelies text-slide1">Alive? Am I... </h5>
    <h3 class="col s12 normal-text truelies big-linear-space text-slide1-1"> A L I V E ? </h3>
</div>
<div class="container divisor">
    <div class="section sec1">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m5 pull-left paragraph">Claudia woke up from her sleep. She couldn't see anything even when her eyes were opened. The eternal darkness lied beyond her until it lost into the nothingness. As she tried to stand up, she noticed she didn't had any legs. At least, she didn't feel them. She couldn't see a glimpse of light anywhere.
            </div>
            <div class="col s12 m5 pull-right paragraph">As she tried to regain her consciousness slowly, she noticed that she were alone, in her own darkness. She tried to touch herself. Her own face, her own hair, her own hands. She felt completely alone...</div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row">
                <h5 class="col s12 normal-text truelies hid v11-s2-text" id="view11-slide2-text1">Is someone there? </h5>
                <h5 class="col s12 normal-text truelies hid" id="view11-slide2-text2">I feel... lonely </h5>
                <h5 class="col s12 normal-text truelies hid" id="view11-slide2-text3">It's too dark... </h5>
                <h5 class="col s12 normal-text truelies hid" id="view11-slide2-text4">Where am... </h5>
                <h5 class="col s12 normal-text truelies hid" id="view11-slide2-text5">I? </h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="../img/Ep1View1Slide2.png" alt="Nightmare2"></div>
</div>
<div id="asdf" class="container">
    <div id="zxcv" class="section">
        <div class="row">
            <div class="col s4 center special paragraph pull-right">
                Nothingness... That's a curious concept.
                <div class="visuallyhidden v11e1 slow-transition">When you're no one...</div>
            </div>
            <div class="col s6 center paragraph">
                Nothingness... That's a curious concept. When you come to think what nothing is, you can't come to figure it out really. You can imagine, you can try to guess what the concept of nothing is, but you will not know as much as Claudia does right now...
            </div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper parallax3">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center last-row">
                <h5 class="header col s12 normal-text truelies textParallax3 hid medium-linear-space v11e21">¡A  LIGHT!
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="../img/Ep1View1Slide3-2.png" alt="Night3" class="invertException">
        <img src="../img/Ep1View1Slide3-3.png" alt="Night3" class="invertException v11e22 hid"><img src="../img/Ep1View1Slide3-1.png" alt="Nightmare3"></div>
</div>
<div class="container divisor">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m5 pull-left paragraph">A thunder ravaged through the whole darkness, leaving Claudia with a feeling of impotence. As the darkness expanded beyond her again, she felt vulnerable to her environment.
            </div>
            <div class="col s12 m5 pull-right paragraph">She could feel that anything that wanted to access to her could have done what it wanted with her. She didn't thought before that there could be anything that could hurt her...</div>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row">
                <h5 class="col s12 normal-text truelies hid v11-s2-text" id="view11-slide2-text1">Is someone there? </h5>
                <h5 class="col s12 normal-text truelies hid" id="view11-slide2-text2">I feel... lonely </h5>
                <h5 class="col s12 normal-text truelies hid" id="view11-slide2-text3">It's too dark... </h5>
                <h5 class="col s12 normal-text truelies hid" id="view11-slide2-text4">Where am... </h5>
                <h5 class="col s12 normal-text truelies hid" id="view11-slide2-text5">I? </h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="../img/Ep1View1Slide4.png" alt="Nightmare2"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s4 center special paragraph pull-right">
                <div class="center special paragraph pull-right">Could it be a good choice to follow up the light?</div>
                <div id="followthelight" class="center special paragraph visuallyhidden pull-right hid fast-transition v11e3 ">JUST FOLLOW THE LIGHT!</div>
            </div>
            <div class="col s6 center paragraph">
                The light started to clear shinier, brightier to her. As she approached to the light, she began to think what could depare her once she was into it. She didn't know what was happening. From darkness to lightness, the light appeared from nowhere and started to absorb the whole darkness that surrounded her. As the tried to avoid it, she notices that she couldn't move. She was afraid, at the mercy of the environment. Then suddenly, the light stopped growing up. It started to dim. She knew that it could be her only chance to run away from that nightmare that the darkness made in her mind. She took al the strength that remained inside her and tried as hard as she could to run towards the light
            </div>
        </div>
    </div>
</div>
<div class="transition" id="transition1"></div>
<div class="container white" id="transitionToWhite">

</div>
<div class="parallax-container valign-wrapper light-runner">
    <div class="parallax">
        <img src="../img/Ep1View1Slide5.png" id="animation" alt="Night3" class="invertException important-image"></div>
</div>
<div class="container" id="ultimo">
</div>

<script src="js/parallaxRunner.js"></script>
<script src="js/ScrollMagicRunner.js"></script>
