<div id="index-banner" class="parallax-container view1">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
            </div>
        </div>
    </div>
    <div class="parallax"><img src="../img/Ep1View1Slide1.png" alt="Nightmare1" class="img1"></div>
    <h5 class="col s12 normal-text truelies text-slide1">Alive? Am I... </h5>
    <h3 class="col s12 normal-text truelies text-slide1-1"> A L I V E ? </h3>
</div>
<div class="container divisor">
    <div class="section sec1">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m6 normal-text">
                <div>Claudia woke up from her sleep. She couldn't see anything even when her eyes were opened. The eternal darkness lied beyond her until it lost into the nothingness. As she tried to stand up, she noticed she didn't had any legs. At least, she didn't feel them. She couldn't see a glimpse of light anywhere.</div>
            </div>
            <div class="col s12 m6 normal-text">As she tried to regain her consciousness slowly, she noticed that she were alone, in her own darkness. She tried to touch herself. Her own face, her own hair, her own hands. She felt completely alone...</div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row">
                <h5 class="col s12 normal-text truelies hid v11-s2-text" id="view11-slide2-text1">Is someone there? </h5>
                <h5 class="col s12 normal-text truelies hid " id="view11-slide2-text2">I feel... lonely </h5>
                <h5 class="col s12 normal-text truelies hid " id="view11-slide2-text3">It's too dark... </h5>
                <h5 class="col s12 normal-text truelies hid " id="view11-slide2-text4">Where am... I? </h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="../img/Ep1View1Slide2.png" alt="Nightmare2"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>There's light at the end of the night</h4>
                <p class="left-align light">Featuring Claudia's dreams, the experience of the dreamer begin to consume her. Step by step and dream by dream, each step Claudia gives towards her future is a step taken to lose herself.</p>
                <p class="right-align light">In her own search of herself, you must help her in her nightmare, the neverending journey that started the worse day of life. The same day that could be her last one.</p>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper parallax3">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center last-row">
                <h5 class="header col s12 light intertext3">You'll be the only one who can help Claudia to search out in the ruins of her own being.
                </h5><a href="#/warning" id="bottomButtonMainPage" class="btn-large waves-effect waves-light teal darken-1 main-btn hidden visuallyhidden">Start</a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="img/wallpaper3.jpg" alt="Unsplashed background img 3"></div>
</div>
<script src="js/parallaxRunner.js">
</script>
