<div class="container finish valign-wrapper">
    <div class="row">
        <div class="col-md-12 main-finish valign">
            Demo is already finished. It just takes a little bit to know what lies, as well as its possibilities.
        </div>

        <div class="col-md-4 finish wleft center-align"> <i class="fa fa-users" aria-hidden="true"></i>
            <div class="title">Scrolling experiences doesn't remain in the chance of creating a good experience. It also serves to create good user experiences</div>
        </div>
        <div class="col-md-4 finish wcenter center-align"> <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
            <div class="title"> Since posibilities are infinites, imagination is the limit. Music, reports, photo albums... Whatever suits up</div>
        </div>
        <div class="col-md-4 finish wright center-align"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <div class="title">This HTML-based experience uses images and image effects that could be dangerous for people who suffer from epilepsy</div>
        </div>
        <div class="col-md-12 main-finish valign">
            There's still a lot of work to do in order to improve the experience.
        </div>
    </div>
</div>
