<div class="container">
  <div class="row">
    <div class="col m10 offset-m1 s12 contact-type">
    <h2 class="center-align" id="typeletter">Contact Form</h2>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col m6 s12">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">Name</label>
            </div>
            <div class="input-field col m6 s12">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name(s)</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col m6 s12">
              <input id="email" type="email" class="validate" required>
              <label for="email">Email</label>
            </div>
            <div class="input-field col m6 s12">
              <input id="company" type="text" class="validate">
              <label for="company">Phone Number</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="message" class="materialize-textarea"></textarea>
              <label for="message">Message</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label>How did you find us?</label>
              <br/>
            </div>
            <div class="input-field col m3 s6 center-align">
              <input name="group1" type="radio" id="google" />
              <label for="google">Google</label>
            </div>
            <div class="input-field col m3 s6 center-align">
              <input name="group1" type="radio" id="customer" />
              <label for="customer">Ads</label>
            </div>
            <div class="input-field col m3 s6 center-align">
              <input name="group1" type="radio" id="store" />
              <label for="store">Online shop</label>
            </div>
            <div class="input-field col m3 s6 center-align">
              <input name="group1" type="radio" id="other" />
              <label for="other">Others</label>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row">
            <div class="input-field col s12">
              <label>Communication preferences</label>
              <br/>
            </div>
            <div class="input-field col m4 s12 center-align">
              <input name="group2" type="checkbox" id="emailComm" />
              <label for="emailComm">Email</label>
            </div>
            <div class="input-field col m4 s12 center-align">
              <input name="group2" type="checkbox" id="callComm" />
              <label for="callComm">Phone call</label>
            </div>
            <div class="input-field col m4 s12 center-align">
              <input name="group2" type="checkbox" id="newsletter" />
              <label for="newsletter">Newsletter</label>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row">
            <div class="col m12">
             <p class="right-align"><button id="sendbutton" class="waves-effect waves-light btn" type="button" name="action">Send</button></p>
           </div>
         </div>
       </form>
     </div>
   </div>
 </div>
</div>