<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br>
            <br>
            <h1 class="header center main-title left-title-main">Night</h1><h1 class="header center main-title right-title-main"> Maria</h1>
            <div class="row center">
                <h5 class="header col s12 normal-text">A web-based terror experience</h5>
            </div>
            <div class="row center">
                <a href="#/warning" id="start-button" class="btn-large waves-effect waves-light teal darken-1 main-btn">Start</a>
            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="parallax"><img ng-parallax pattern="{{image1.photo}}" speed="5" src="../img/Wallpaper1.png" alt="Home 1"></div>
</div>
<div class="container separatorHome1">
    <div class="section sec1">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="fa fa-film fa-parallax" aria-hidden="true"></i></h2>
                    <h5 class="center">Graphic Novel Design </h5>
                    <p class="normal-text">A novel graphic experience based on the Parallax effect.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="fa fa-sort fa-parallax" aria-hidden="true"></i></h2>
                    <h5 class="center">User Experience Focused</h5>
                    <p class="normal-text text-divisor">By utilizing sound and image effects, the terror and horror sensations become alive within you. Several people died just to bring you this same webpage. The only thing you will need is the <strong>scroll</strong>
                    </p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h2>
                    <h5 class="center center-title">Darkness and brightness surround the area</h5>
                    <p class="normal-text">Warning: the could be some light effects that could be dangerous to people with epilepse. So be it.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="col s12 normal-text textParallax2 hid truelies">Alive? Am I...  Alive? </h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="img/wallpaper2.jpg" alt="Home 2"></div>
</div>
<div class="container separatorHome2">
    <div class="section">
        <div class="row">
            <div class="col s12 center">

                <h4>There's light at the end of the night</h4>
                <p class="left-align normal-text text-divisor">Featuring Claudia's dreams, the experience of the dreamer begin to consume her. Step by step and dream by dream, each step Claudia gives towards her future is a step taken to lose herself.</p>
                <p class="right-align normal-text text-divisor">In her own search of herself, you must help her in her nightmare, the neverending journey that started the worse day of life. The same day that could be her last one.</p>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper parallax3">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center last-row">
                <h5 class="header col s12 normal-text hid truelies textParallax3">You'll be the only one who can help Claudia to search out in the ruins of her own being.
                </h5><a href="#/warning" id="bottomButtonMainPage" class="btn-large waves-effect waves-light teal darken-1 main-btn hid visuallyhidden">Start</a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="img/wallpaper3.jpg" alt="Home 3"></div>
</div>
<script src="js/parallaxRunner.js">
</script>
