<div class="container whatIs">
    <div class="row">
        <div class="col m12">
            <p class="normal-text whatisTitle">Nightmaria is a web terror experience developed to be used with the scroller.</p>
        </div>
        <div class="col m6 finish wleft center-align"> <i class="fa fa-users" aria-hidden="true"></i>
            <div class="title">In order to prove myself that I'm capable of using several Front-End tools and </div>
        </div>
        <div class="col m6 finish wleft center-align"> <i class="fa fa-users" aria-hidden="true"></i>
            <div class="title">Scrolling experiences doesn't remain in the chance of creating a good experience. It also serves to create good user experiences</div>
        </div>
    </div>
</div>
