<div class="container warning valign-wrapper">
    <div class="row">
        <div class="col-md-12 main-warning valign">
            Please, consider these instructions to improve this terror experience
        </div>
        <div class="col-md-4 warning wleft center-align"> <i class="fa fa-video-camera" aria-hidden="true"></i>
            <div class="title">In order to improve the experience, we recommend you the full screen mode incorporated. It will start as soon as you enter the game</div>
        </div>
        <div class="col-md-4 warning wcenter center-align"> <i class="fa fa-headphones" aria-hidden="true"></i>
            <div class="title">The use of sound effects incorporated to the experience makes the use of headphones highly recommended. The experience could not be the same...</div>
        </div>
        <div class="col-md-4 warning wright center-align"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <div class="title">This HTML-based experience uses images and image effects that could be dangerous for people who suffer from epilepsy</div>
        </div>
        <div class="col-md-12 main-warning">
            If you're ready, click Start to continue
            <div>
                </h5>
                <button id="startBtnWarning" class="btn-large waves-effect waves-light teal darken-1 main-btn">Start</a>
                </button>
            </div>
        </div>
    </div>
